/* RGB */
$aindigo: rgba(84, 13, 110, 1);
$apink: rgba(238, 66, 102, 1);
$asunglow: rgba(255, 210, 63, 1);
$ahoneydew: rgba(243, 252, 240, 1);
$adarkgreen: rgba(31, 39, 27, 1);

html {

}

body { 
    font-family: 'Roboto';
    font-size: 22px;
    background-color: rgba(243, 252, 240, 1);
    margin: 0;
    padding: 0;
}

.all {
    text-align: center;
    color: rgba(31, 39, 27, 1);
    padding-left: 20%;
    line-height: 1
}
h1 {
    line-height: 0.2
}

.image {
    width: 100%;
}

.drone1 {
    width: 70%;
}

.placeholder {
    width: 15%
}

.placeholder2 {
    width: 30%
}




.active li{
    background-color: rgba(238, 66, 102, 0.5);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 20%;
    overflow: auto;
    position: fixed;
    background-color: rgba(255, 210, 63, 1);
} 

.navbartop ul { 
    top: 0;
    height: 90%;
    margin-bottom: 90%;
    /* background-color: rgba(255, 210, 63, 1); */
}

.navbarbottom ul {
    position: fixed;
    top: 90%;
    height: 10%;
}



.navbar li {
    display: inline;
    float: left;
    width: 100%;
    text-align: left;
} 

.navbar li a, .navbar_breaks li{
    display: block;
    width: auto;
    padding: 10px 20px;
    text-decoration: none;
    color: rgba(31, 39, 27, 1)
} 

.navbar li a:hover {
    background-color: rgba(238, 66, 102, 1);
} 

.navbar_breaks li {
    text-align: center;
}

.navbar_bottom {
    vertical-align: bottom;
}