/* Coolors Exported Palette - coolors.co/540d6e-ee4266-ffd23f-f3fcf0-1f271b */

/* HSL */
$indigo: hsla(284%, 79%, 24%, 1);
$color2: hsla(347%, 83%, 60%, 1);
$color3: hsla(46%, 100%, 62%, 1);
$color4: hsla(105%, 67%, 96%, 1);
$color5: hsla(100%, 18%, 13%, 1);

/* RGB */
$indigo: rgba(84, 13, 110, 1);
$pink: rgba(238, 66, 102, 1);
$sunglow: rgba(255, 210, 63, 1);
$honeydew: rgba(243, 252, 240, 1);
$darkgreen: rgba(31, 39, 27, 1);