/* Coolors Exported Palette - coolors.co/7289da-486289-99aab5-2c2f33-23272a */

/* HSL */
$color1: hsla(227%, 58%, 65%, 1);
$color2: hsla(216%, 31%, 41%, 1);
$color3: hsla(204%, 16%, 65%, 1);
$color4: hsla(214%, 7%, 19%, 1);
$color5: hsla(206%, 9%, 15%, 1);

/* RGB */
$color1: rgba(114, 137, 218, 1);
$color2: rgba(72, 98, 137, 1);
$color3: rgba(153, 170, 181, 1);
$color4: rgba(44, 47, 51, 1);
$color5: rgba(35, 39, 42, 1);
$color6: rgba(255, 255, 255, 1);