/* Coolors Exported Palette - coolors.co/bbbdf6-9893da-797a9e-72727e-625f63 */

/* HSL */
$color1: hsla(238%, 77%, 85%, 1);
$color2: hsla(244%, 49%, 72%, 1);
$color3: hsla(238%, 16%, 55%, 1);
$color4: hsla(240%, 5%, 47%, 1);
$color5: hsla(285%, 2%, 38%, 1);

/* RGB */
$color1: rgba(187, 189, 246, 1);
$color2: rgba(152, 147, 218, 1);
$color3: rgba(121, 122, 158, 1);
$color4: rgba(114, 114, 126, 1);
$color5: rgba(98, 95, 99, 1);