* {
    margin: 0 auto;
    font-family: 'Roboto';
}

html {
    background-color: rgba(98, 95, 99, 1);
}

.toggle-nav {
    position: fixed;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 100;
    transform: translateX(-15px);
    transition: 350ms;
}

.toggle-nav-bg {
    background-color: rgba(152, 147, 218, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    border-style: solid;
    border-color: rgba(121, 122, 158, 1);
    border-width: 5px 5px 0px 0px;
    border-radius: 0px 5px 0px 0px;
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 40px;
    z-index: 98;
    transform: translateY(70px);
}

.header {
    background-color: rgba(121, 122, 158, 1);
    text-align: center;
    font-size: 50px;
    color: white;
    transition: 350ms;
    top: 0;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 8;
}

.header a {
    color: white;
    text-decoration: none;
}

.nav-pane {
    transition: 350ms;
    position: fixed;
    -webkit-transform: translateX(-350px);
    transform: translateX(-350px);
    top: 0;
    height: 100vh;
    width: 348px;
    /*    background: rgba(121, 122, 158, 1);*/
    background: rgba(187, 189, 246, 1);
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 10px rgba(33, 33, 33, 0.5);
    z-index: 99;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    /*    overflow: hidden;*/
    /*    background-color: rgba(114, 114, 126, 1);*/
    font-size: 15px;
    width: 348px;
    top: 0;
}

li p {
    display: block;
    height: 20px;
    padding: 14px 16px;
}

li a {
    display: block;
    width: 316px;
    /*    color: white;*/
    color: rgba(98, 95, 99, 1);
    padding: 14px 16px;
    height: 20px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    transition: 350ms;
}

li a:hover {
    /*    background-color: rgba(152, 147, 218, 1);*/
    background-color: white;
    font-size: 17px;
    transition: 350ms;
}

hr {
    background: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 3px 0 0 0;
    width: 80%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr:before {
    display: block;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8c8c;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.active {
    /*    background-color: rgba(152, 147, 218, 1);*/
    background-color: white;
    font-size: 17px;
    transition: 350ms;
}

#mainbody {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 350ms;
    cursor: pointer;
    pointer-events: none;
    z-index: 9;
}


@media screen and (max-width: 620px) {
    .nav-pane {
        width: 298px;
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    li a {
        width: 266px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    ul {
        width: 298px;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}



/*
@media screen and (max-width: 450px) {
    .nav-pane {
        width: 100%;
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    li a {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    ul {
        width: 100%;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
*/

.toggle-nav:hover {
    transform: translateX(0);
    transition: 350ms;
}

.nav-pane.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: 350ms;
}

.nav-pane.open ~ #mainbody {
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: all;
    transition: 350ms;
}

.toggle-nav.open span.m,
.toggle-nav.open span.n,
.toggle-nav.open span.u {
    opacity: 0;
    color: rgba(98, 95, 99, 1);
}

.toggle-nav span.m,
.toggle-nav span.n,
.toggle-nav span.u {
    font-size: 1.05rem;
    opacity: 0;
    transition: 350ms;
    letter-spacing: 2px;
    color: white;
}

.toggle-nav span.e {
    display: inline-block;
    height: 12px;
    width: 17px;
}

.toggle-nav span.e.btn-close span.bar:nth-child(1) {
    transition: 350ms;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5px;
    background: rgba(98, 95, 99, 1);
    border-bottom: 1px solid rgba(98, 95, 99, 1);
}

.toggle-nav span.e.btn-close span.bar:nth-child(2) {
    opacity: 0;
    transition: 350ms;
    background: rgba(98, 95, 99, 1);
    border-bottom: 1px solid rgba(98, 95, 99, 1);
}


.toggle-nav span.e.btn-close span.bar:nth-child(3) {
    transition: 350ms;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 5px;
    background: rgba(98, 95, 99, 1);
    border-bottom: 1px solid rgba(98, 95, 99, 1);
}

.toggle-nav span.e span.bar {
    transition: 350ms;
    position: relative;
    display: block;
    background: white;
    border-radius: 1px;
    border-bottom: 1px solid white;
    width: 15px;
    height: 1px;
}

.toggle-nav span.e span.bar:nth-child(2) {
    margin: 3px 1px;
}

.toggle-nav:hover span.m,
.toggle-nav:hover span.n,
.toggle-nav:hover span.u {
    opacity: 1;
    transition: 350ms;
}

.toggle-nav.open:hover span.m,
.toggle-nav.open:hover span.n,
.toggle-nav.open:hover span.u {
    opacity: 1;
    transition: 350ms;
}





.all {
    padding: 80px 40px 10px 40px;
    transition: 350ms;
    color: white;
    min-height: calc(100vh - 115px);
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    overflow-wrap: break-word;
}

.all a {
    text-decoration: none;
    color: white;
}

.all a:not(.button):hover {
    text-decoration: underline;
}

.buttons {
    text-align: center;
    text-decoration: none;
}

.button {
    background-color: rgba(152, 147, 218, 0.2);
    border: 4px solid rgba(152, 147, 218, 1);
    color: rgba(187, 189, 246, 1);
    padding: 20px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px 10px 20px 10px;
    font-weight: bold;
    transition: 350ms;
    min-width: 175px;
}

.button a:hover {
    text-decoration: none;
}

.button:hover {
    background-color: rgba(152, 147, 218, 1);
    color: white;
    transition: 350ms;
    text-decoration: none;
}


img, iframe {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    max-height: 800px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.validationimg {
    max-width: 50%;
}

.modelgallery img {
    max-height: 300px;
}

.imgtxt {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-width: 10px;
    border-radius: 5px;
    transition: 350ms;
    color: rgba(0, 0, 0, 0);
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
}

.imgtxt:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}


.codepen {
    max-width: 70%;
}

.wireframes {
    max-width: 50%;
}

.sketchfab-embed-wrapper {
    text-align: center;
    transform: translateX(-4px);
    width: 80%;
}

#sketchfab {
    border: 8px solid rgba(152, 147, 218, 1);
    border-radius: 5px;
    background-color: black;
    width: 100%;
    height: 500px;
}



h2 {
    text-align: center;
    padding: 10px 0px;
}

/*
code { 
    background: rgba(114, 114, 126, 1);
}

pre {
    white-space: pre-wrap;
    background: rgba(114, 114, 126, 1);
    text-align: left;
    text-align-last: left;
    border: 15px;
    border-style: solid;
    border-width: 10px;    
    border-radius: 5px;
    border-color: white;
    overflow-y: scroll;
    max-height: 100px;
}
*/



footer {
    width: 100%;
    bottom: 0;
    color: white;
    background-color: rgba(121, 122, 158, 1);
    font-size: 10px;
    text-align: right;
    height: 35px;
}

footer p {
    padding: 10px 15px;
}

@media screen and (max-width: 600px) {
    .nav-pane {
        -webkit-transform: translateY(110vh);
        transform: translateY(110vh);
    }
    
    ul, .nav-pane {
        width: 100%;
    }
    
    li a {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        width: 100vw;
    }
    
    .toggle-nav {
        position: fixed;
        bottom: 10px;
        top: inherit;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(-30px);
    }
    
    .nav-pane.open {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        transition: 350ms;
    }
        
    .nav-pane.open ~ .toggle-nav {
        background-color: black;        
    }
    
    .toggle-nav-bg {
        transform: translateY(0);
    }
    
    .toggle-nav span.m,
    .toggle-nav span.n,
    .toggle-nav span.u,
    .toggle-nav.open span.m,
    .toggle-nav.open span.n,
    .toggle-nav.open span.u,
    .toggle-nav:hover span.m,
    .toggle-nav:hover span.n,
    .toggle-nav:hover span.u,
    .toggle-nav.open:hover span.m,
    .toggle-nav.open:hover span.n,
    .toggle-nav.open:hover span.u {
        opacity: 0;
    }
    
    .toggle-nav:hover {
        transform: translateX(-30px);
    }
    
    ul {
        padding-top: 0px;
    }
    
    .header {
        font-size: 9vw;
    }
    
    .headertxt {
        position: fixed;
        top: calc((55px - 9vw) / 2);
        width: 100%;
    }
    
    .sketchfab-embed-wrapper {
        width: 100%;
        transform: translateX(0px);
    }
    
    img {
        transform: translateX(0px);
        margin-left: auto;
        margin-right: auto;
    }
}